# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
/Makefile
/Makefile.in
/aclocal.m4
/compile
/config.guess
/config.h
/config.h.in
/config.h.in~
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/missing
/rtc
/src/rtc_bison.c
/src/rtc_bison.h
/src/rtc_flex.c
/src/rtc_parser.c
/src/rtc_parser.h
/stamp-h1
/ylwrap

autom4te.cache/
m4/
src/.deps/
src/.dirstamp
